@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&family=Inter:wght@400;500;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
  background-color: #0D1117;
}

.overflow-y-auto::-webkit-scrollbar {
  width: 8px;
}

.overflow-y-auto::-webkit-scrollbar-track {
  background: #161b22;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #3b82f6; 
  border-radius: 20px;
  border: 3px solid #161b22;
}